.form{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    padding: 5px 10%;
    min-height: 30vh;
}

.form label{
    min-width: 275px;
    display: flex;
        justify-content: space-between;
    margin: 5px;
}

.form .data{
    display: flex;
}

.form button{
    margin: 20px 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.span-oculto{
    display: none;
}