
.card{
    width: 23%;
    height: auto;
    text-align: center;
    border: none;
    box-shadow: 1px 2px 5px black;
    box-sizing: border-box;
    padding: 10px 0;
    min-width: 250px;
    margin: 15px 5px;
    display: flex;
        justify-content: space-between;
}
.card-link{
    height: 70%;
}
.card-img{
    object-fit: contain;
    height: 60%;
}