.detail-f{
    display: flex;
        justify-content: space-between;
}

.caracteristicas{
    padding: 15px;
    margin: 20px;
    border: solid rgb(151, 151, 151) 1px;
    border-radius: 15px;
}

.detail{
    margin: 0 120px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}