.form{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    padding: 5px 10%;
    min-height: 50vh;
}

.form label{
    min-width: 275px;
    display: flex;
        justify-content: space-between;
    margin: 5px;
}

.form .data{
    display: flex;
}
