.item-detail{
    display: flex;
        flex-wrap: wrap;
    background-color: white;
}

.item-detail-div{
    margin: 2%;
    width: 32%;
    min-width: 250px;
}

.item-detail-img{
    width: 60%;
    box-sizing: border-box;
    object-fit: contain;
    height: auto;
    margin: 2%;
    border-radius: 15px;
}