.orders{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
}
.order{
    text-align: center;
    padding: 15px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 15px;
    width: 88%;
}

.total{
    margin: 15px;
    font-size: 35px;
}

.order-item{
    display: flex;
        justify-content: space-around;
}
.order-item h4{
    margin: 7px;
}