.header {
    font-family:  sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(233, 233, 233);
    display: flex;
        justify-content: space-between;   
}

.nav{
    list-style-type: none;
    display: flex;
}

.nav li{
    margin: 10px;
}

b{
    color: red;
}