.cart-button{
    width: 50%;
    display: flex;
        justify-content: space-around;
}

.cart-button .button{
    padding: 5px 24.1795px;
    align-items: center;
}

.p-void{
    padding: 150px 0;
    text-align: center;
    background-color: white;
    color: gray;
}

.p-void b{
    font-size: xx-large;
}

.cart-item{
    display: flex;
        justify-content: space-around;
        align-items: center;
    margin: 0 5%;
    padding: 17px 5px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.img-cart{
    width: 100%;
}

.handlerQuantity{
    display: flex;
        justify-content: space-around;
        align-items: center;
    min-width: 87px;
}

.handlerQuantity p{
    width: 35px;
}

.cart-item .div-img{
    width: 15%;
    box-sizing: border-box;
}

.cart-item .handlerQuantity, .p-cart{
    width: 25%;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    box-sizing: border-box;
}

.cart-item .button-delete{
    width: 10%;
}